@import './base.css';
body, html {
  overflow: auto; /* or 'visible' */
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(91, 91, 91, 0.242);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(101, 60, 110);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(137, 85, 147);
}
#app {
  height: 100vh;
  margin: 0 auto;
  font-weight: normal;
  font-family:'Times New Roman', Times, serif; 
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.details{  
  line-height: 15px;  
  color:rgba(255, 255, 255, 0.677);
  
}

.stack-item {
  line-height: 15px;
  color:rgb(11, 9, 9); 
  margin-bottom: 0.3rem;
  letter-spacing: 1px;
  font-weight: bold;    
}
.tech-stack{
  word-wrap: break-word;
  font-size: 0.8rem;
}
p,span{
  font-size: 0.8rem;
}

h2,h3,h4{
font-size: 1.3rem;
}
@media(min-width:700px){  
  p,span{
  font-size: 1rem; 
  } 

  h1,h2,h3,h4{
    font-size: 1.6rem;
    }
}

@media (min-width: 1024px) {
  .tech-stack{
    width: 50%;
    font-size: 1rem;
}   
::-webkit-scrollbar {
  width: 10px;
}
}

